.component {
  display: flex;
  align-items: center;
  padding: 1em;
  border: 2px solid;
  border-image: linear-gradient(rgb(255, 0, 85), rgb(255, 128, 0));
  border-image-slice: 1;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background-color: white;
}

.delete-btn {
  border: 2px solid rgb(255, 0, 85);
  background-color: rgb(255, 167, 167);
  border-radius: 2px;
  padding: 2px;
}

.edit-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.678);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
