h1 {
  background: linear-gradient(to right, rgb(249, 42, 111), rgb(255, 162, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}
